@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.btn-font {
  font-family: "Montserrat", sans-serif;
}

.box {
  box-shadow: 4px 4px 10px 0px #0000000d;
}

.newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 100px;
  height: 100%;
  background-color: #005f85;
  transform: skewX(25deg);
}

p,
h1 {
  cursor: default;
}

.slider .thumb {
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 2px 4px 0px #1000001a;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  cursor: grab;
}

.input-field input::placeholder {
  color: #5c5c5c;
}

.track-1 {
  height: 7px;
  background-color: #ff7f00;
  border-radius: 5px;
}

.bg-custom-gradient {
  background: linear-gradient(
    82.93deg,
    rgba(207, 226, 215, 0.5) -1.9%,
    rgba(209, 207, 205, 0.5) 137.08%
  );
  border: 0.56px solid;
  border-image-source: linear-gradient(
    277.82deg,
    rgba(255, 255, 255, 0.07) 13.53%,
    rgba(255, 255, 255, 0.15) 82.43%
  );
}

.bg-custom-gradient2 {
  border: 0.56px solid;
  border-image-source: linear-gradient(
    277.82deg,
    rgba(255, 255, 255, 0.07) 13.53%,
    rgba(255, 255, 255, 0.15) 82.43%
  );
}

.popupbox {
  box-shadow: 0px 3.33px 3.33px 0px #00a8eb0a;
}

.header,
.footer,
.main-content {
  position: relative;
  z-index: 1;
}

.signin {
  background: linear-gradient(116.55deg, #ffffff 0%, #edf0f0 47%, #e9f4f7 100%);

}

.warm-effect{
  background: linear-gradient(242.86deg, #F7E8DA -0.78%, rgba(246, 232, 218, 0.542464) 4.42%, rgba(246, 232, 218, 0.365287) 9.08%, rgba(218, 221, 223, 0.233916) 22.11%, rgba(218, 220, 221, 0.163882) 26.74%, rgba(217, 219, 220, 0.106764) 34.37%, rgba(255, 255, 255, 0.0740468) 49.83%, rgba(217, 217, 217, 0) 100.71%);

}

.otp-input.active {
  border: 1px solid #00a8eb;
}

.cards-container::-webkit-scrollbar{
  display: none;
}


@media (max-width:600px) {
  .cards-container::-webkit-scrollbar{
    display: none;
  }
  .hideScroll::-webkit-scrollbar{
    display: none;
  }   
}